.container {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

header div{
    font-size: "Poppins";
    display: flex;
    justify-content: space-between;
}
button{
    background-color: rgba(245, 138, 7, 0.1);
    font-family: Poppins;
    align-self: left;

}
section:nth-child(2) {
    display: flex;
    border: 1px solid;
    background-color: #DCEAF5;
    position: absolute;
    width: 1933px;
    height: 703px;
}
.image {
    position: absolute;
    width: 747px;
    height: 618px;
    left: 949px;
    top: 169px;
}


.right-column {
    position: absolute;
    width: 747px;
    height: 618px;

}

.headerbar{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.headerbar nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
